.vscode/
venv/

data/
metadata/
sample_data/
image/combined
image/sample_100km
image/sample_250km
image/unlabeled_100km
image/unlabeled_250km
result/
server/
testing/
__pycache__

data.zip
image.zip
result.zip

metrics.csv
graph_acc.png
graph_loss.png
best_model.ckpt
notes.txt