__pycache__
.vscode/
venv/

data/
metadata/
sample_data/
image/combined
image/combined1
image/sample_120km
image/sample_300km
result/
server/
testing/

data.zip
image.zip
result.zip

metrics.csv
notes.txt
graph_acc.png
graph_loss.png
best_model.ckpt