__pycache__
.vscode/
venv/

data/
metadata/
sample_data/
image/all
image/combined1
result/
server/
testing/

data.zip
image.zip
result.zip

metrics.csv
notes.txt
graph_acc.png
graph_loss.png
best_model.ckpt